<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>controllers.Start</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>sitectrl.Dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controllers.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Itemdetails</servlet-name>
        <servlet-class>controllers.Itemdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addtocart</servlet-name>
        <servlet-class>controllers.Addtocart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Finalized</servlet-name>
        <servlet-class>controllers.Finalized</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFunds</servlet-name>
        <servlet-class>controllers.AddFunds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearch</servlet-name>
        <servlet-class>controllers.AdminSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManipulateUser</servlet-name>
        <servlet-class>controllers.ManipulateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>controllers.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>controllers.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCategory</servlet-name>
        <servlet-class>controllers.RemoveCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItem</servlet-name>
        <servlet-class>controllers.AddItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchItem</servlet-name>
        <servlet-class>controllers.SearchItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/disp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Itemdetails</servlet-name>
        <url-pattern>/Itemdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addtocart</servlet-name>
        <url-pattern>/Addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Finalized</servlet-name>
        <url-pattern>/Finalized</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFunds</servlet-name>
        <url-pattern>/AddFunds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearch</servlet-name>
        <url-pattern>/AdminSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManipulateUser</servlet-name>
        <url-pattern>/ManipulateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCategory</servlet-name>
        <url-pattern>/RemoveCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItem</servlet-name>
        <url-pattern>/AddItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchItem</servlet-name>
        <url-pattern>/SearchItem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>disp</welcome-file>
    </welcome-file-list>
</web-app>
